@{
    Layout = "_Layout";
}

<form method="post" action="~/Home/Resultado">
    <fieldset>
        <label>Número uno:</label><input name="NumeroUno" /><br />
        <label>Número dos:</label><input name="NumeroDos"/><br />

        <input type="submit" value="Enviar" />
    </fieldset>
</form> 