<html>
<head>
    <title>Practica 1</title>
</head>
<body>
    <h1>Datos del alumno.</h1>
    <p>Nombre del alumno: Alí Eduardo Rojas Delgado</p>
    <p>Carrera: Ingeniería En sistemas computacionales</p>
    <p>Semestre: 7</p> <br />
    @RenderBody()
    <h1>Datos de la materia.</h1>
    <p>Nombre del profesor: Hector Javier Padilla Lara.</p>
    <p>Materia: Ing. Programación web.</p>

</body>
</html>